.top-bar{
    height: 100px;
    width: auto ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: translateX("-50%");
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .submit-container{
    display: flex;
    gap: 30px;
    margin: 10% auto;
    width: 50%;
  }
  .titletxt{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 700;
  }
  .headertxt{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    text-decoration: underline;
  }

  
  .submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 337px;
    height: 67px;
    color: #fff;
    background: #4c00b4;
    border-radius: 21px;
    font-size: 29px;
    font-weight: 700;
    cursor: pointer;
  }
  .submit:hover{
    background-color: #280061;
  
  }
  .form-container{
    display: flex;
    flex-direction: column;
    margin:auto;
    margin-top: 10px;
    width: 500px;
    padding-bottom: 30px;
    background: rgb(187, 187, 187);
    border-radius: 23px;
  }